.current-slot{
  /*color: #00549e;*/
  font-weight: bold;
}

.navbar-padding {
  padding-top: 50px;
}

.social{
  width: 22px;
  height: auto;
}

.navbar-brand-logo{
  margin-top: -10px;
  margin-bottom: -10px;
  width: 40px;
  height: auto;
  color: rgb(241, 244, 83);
}

.map{
  height: 30vh;
}
